.blå {
    color: blue;
    font-weight: bold;
}

div {
    max-height: 200px;
    max-width: 230px;
    min-width:230px;
    background: lightgoldenrodyellow;
    overflow: auto;
    float: left;
    margin: 10px;
}
.insert{clear:both;max-width:600px;width:400px;max-height:400px;}
.insert label{display:inline-block;width:80px;margin-bottom:7px;}
